.page {
    position: absolute;
    height: 100%;
    width: 100%;
}

.qn-header {
    background-color: rgb(255, 255, 255);
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qn-main {
    height: calc(75%);
    background-color: rgb(64, 132, 88);
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

* {
    color: black;
}


.app {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 500px;
    border-radius: 15px;
    padding: 30px;
    /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
    display: flex;
    justify-content: space-evenly;
}

.firstPage {
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.finalPage {
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.sp-yl {
    background-color: rgba(255, 255, 134, 0.857);
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.question-section {
    background-color: white;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.question-text {
    margin-top: 30px;
    width: calc(150%);
}

.check {
    background-color: white;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.answer-section {
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(110%);
    margin-right: 160px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
}

.box1 {
    grid-column: 2;
    grid-row: 1;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

.box3 {
    grid-column: 2;
    grid-row: 3;
}

.btn-text {
    height: auto;
    font-size: 14px;
    width: calc(100%);
}
